In [ ]:
import os
import pandas as pd
from typing import List

corpus: List[str] = []

for fname in os.listdir('imdb'):
    with open(os.path.join('imdb', fname), 'r') as f:
        corpus.append(f.read()); f.close()

print(f'Read {len(corpus)} reviews.')

Read 12500 reviews.

In [16]:
df = pd.DataFrame(corpus, columns=['review'])
df.head()

                                              review
0  This is a great movie for the true romantics a...
1  I saw this film when I was a young child on te...
2  I consider myself a great admirer of David Lyn...
3  Cat Soup at first seems to be a very random an...
4  Back in 1994, I had a really lengthy vacation ...

In [17]:
# save as a csv
df.to_csv('imdb_reviews.csv', index=False)